h1 {color: rgba(10, 33, 160, 0.89);
    font-size: 100px;   
}
h2 {color: #46484c;
}
b{color: #8b8b8bcc;

}
button{
    background-color: #165155;
    color: rgb(233, 10, 10);

}
body{
     background-color: #b46516
}