h1 {color: rgba(10, 33, 160, 0.89);
    font-size: 100px;   
}
h2 {color: #46484c;
}
b{color: #8b8b8bcc;

}
button{
    background-color: #03e5f5;
    color: rgb(250, 250, 250);

}
body{background-image: url("../../../../../Tere/Pictures/fondo.png");
}

li{
    display: inline;
}

.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    
  }
  
  .header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
  }

  .logo {
    width: 15%;
  }
  .logo > img {
    height: 100%;
  }
  
  .navbar {
    width: 70%;
    text-align: center;
    color: Green;
    font-weight: 500;
  }
  
  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }